<!DOCTYPE html>
<html lang="fr">
<head>
    <title>PurBeurre - Mot de passe oublié</title>
    <meta charset="utf-8">
</head>

{% extends 'registration/base_pass_reset.html' %}

{% block content %}


<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h2 class="text-white-75 font-weight-light mb-5">
                    Mot de passe oublié:
                </h2>
                <form class="form-inline col-lg-10 col-xs-10 align-self-baseline mid_find"

                      method="POST">
                    {% csrf_token %}
                    <div>

                        <p class="text-center text_reset_password">
                            Pour réinitialiser votre mot de passe veuillez dans un premier temps
                            indiquer votre adresse email d'inscription. <br/>
                            Puis, suivres les instuctions qui suiveront <br/>
                            Merci.<br/></p>
                        <p style="font-size:30px">&#128513;</p>

                    </div>
                    <div class="container pull-right center">
                        <div class="form-group {% if form.userEmail.errors %}has-warning has-feedback{% endif %} mid_find
                            row col-md-6 block champs_signUP">
                                <p>{{ form.as_p }}<br/></p>
                        </div>
                        <button class="btn btn-primary btn-xs js-scroll-trigger get_space" onclick="connect()"
                                id="connect">
                            Réinitialiser mon mot de passe
                        </button>

                        <div class="spinner-border text-warning button-connect mid_find
                    row" id="spinner" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </form>
                <div>
                    {% if errors %}
                    {% for key, error in errors %}
                    {% autoescape off %}
                    {{ error }}
                    {% endautoescape %}
                    {% endfor %}
                    {% endif %}
                </div>
                {% if error_reset %}
                <div id="error_reset">
                    {{ error_reset }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>
{% endblock %}
</html>
