<!DOCTYPE html>
<html lang="fr">
<head>
    <title>PurBeurre - Mention légales</title>
    <meta charset="utf-8">
</head>

{% extends 'search/base.html' %}

{% block content %}

<header class="masthead resize-page">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h3 class="text-uppercase text-white font-weight-bold">
                    Mention légales:</h3>
                <div>
                    <h5 class="text-uppercase text-white font-weight-bold">
                        Editeur de la plateforme: NextInteractive
                    </h5>
                </div>
                <div class="copyright_section">
                    <p class="bold">Société par action simplifiée au capital de <span class="text_white">80 000 €</span>
                    </p>
                    <p class="bold">Immatriculé au registre du commerce et des Sociétés de Paris sous le numéro
                        <span class="text_white">322 xxx 798</span></p>
                    <p class="bold">Siège social: <span class="text_white">Montmartre, 75018 Paris cedex 18</span></p>
                    <p class="bold">Numéro de téléphone: <span class="text_white">04-99-32-66-xx</span></p>
                </div>
                <div class="copyright_section">
                    <p class="bold">Vous pouvez nous contacter depuis notre section contact:
                        <a href="{% url 'index' %}#contact">Ici</a></p>
                    <p class="bold">Directeur de publication: <span class="text_white">Dupont Alexandre, Directeur Général</span>
                    </p>
                    <p class="bold">Date de création du site: <span class="text_white">15 Septembre 2019</span></p>
                </div>
                <div class="copyright_section">
                    <h5 class="text-uppercase text-white font-weight-bold">
                        Hébergeur de la pateforme web: OVH.com
                    </h5>
                </div>
                <div class="copyright_section">
                    <p class="bold">Société par action simplifiée au capital de <span class="text_white">
                        500 millions d'euros environ</span></p>
                    <p class="bold">Immatriculé au registre du commerce et des Sociétés de Paris sous le numéro
                        <span class="text_white">424 761 419</span></p>
                    <p class="bold">Siège social: <span class="text_white">2 rue Kellermann, 59100 Roubaix</span></p>
                    <p class="bold">Numéro de téléphone: <span class="text_white">1007</span></p>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
</html>