<!DOCTYPE html>
<html lang="fr">
<head>
    <title>PurBeurre - Mot de passe oublié</title>
    <meta charset="utf-8">
</head>

{% extends 'registration/base_pass_reset.html' %}

{% block content %}


<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center text_reset_password">
            <div class="col-lg-6 align-self-end">
                <h2 class="text-white-75 font-weight-light mb-5">
                    Email envoyé
                </h2>
                <div>
                    <p>
                        Nous vous avons envoyé un email de récupération. <br/>
                             Vous devriez les recevoir sous peu.
                    </p>
                    <p>
                        Si vous n'avez pas reçus l'email, assurez-vous d'avoir entré votre adresse d'inscription.<br/>
                        Pensez également à vérifier votre dossier spam.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
</html>